*.sonarqube
*.sonarqube/
Sonar.bat

finance.api/bin/
finance.api/obj/
finance.api/Logs/


sales.api/bin/
sales.api/obj/
sales.api/Logs/

master.api/bin/
master.api/obj/
master.api/Logs/


MaxStation.Entities/bin/
MaxStation.Entities/obj/

[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.vs
[Tt]humbs.db 
Ankh.NoLoad
.vscode